navbar {
    font-size: 30px;
    background-color: green;
    width: 100%;
}
row {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 15px;
}


p {
    font-size: 15px;
    margin-left: 35px;
}

mybtn {
    color: blue;
    margin: 5px;
}